<div aria-hidden="true" style="display: none;">

    <div id="tpl-tippy-h">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon h">
                <img src="/assets/icons/hedged.svg" alt='Hedged' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Hedged</h1>
                <p>We have detected a deliberate lack of precision.</p>
            </div>
        </div>
    </div>

    <div id="tpl-tippy-i">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon i">
                <img src="/assets/icons/implicative.svg" alt='Implicative' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Implicative</h1>
                <p>Watch out for statements which make presuppositions about the truth of a statement.</p>
            </div>
        </div>
    </div>

    <div id="tpl-tippy-f">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon f">
                <img src="/assets/icons/factive.svg" alt='Factive' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Factive</h1>
                <p>This statement appears to be making claims about the truth of something.</p>
            </div>
        </div>
    </div>

    <div id="tpl-tippy-a">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon a">
                <img src="/assets/icons/missing.svg" alt='Assertive' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Assertive</h1>
                <p>This statement appears to be making assertions which may or may not be true.</p>
            </div>
        </div>
    </div>

    <div id="tpl-tippy-s">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon s">
                <img src="/assets/icons/subjective.svg" alt='Subjective' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Subjective</h1>
                <p>This is a subjective statement.</p>
            </div>
        </div>
    </div>

    <div id="tpl-tippy-t">
        <div class="hb-tippy" aria-role="presentation">
            <div class="hb-tippy__icon t">
                <img src="/assets/icons/missing.svg" alt='Trigger' width="25" height="25"/>
            </div>
            <div class="hb-tippy__content">
                <h1>Trigger</h1>
                <p>This author may be attempting to make an emotional argument.</p>
            </div>
        </div>
    </div>

</div>