.hb-article {
    @apply h-full;
}

.hb-article__aside {
    @apply py-8;
    @apply flex;
    @apply flex-col;
    @apply items-center;
    @apply justify-center;
    background-color: theme('colors.aside.bg');

    @media (min-width: theme('screens.lg')) {
        & {
            @apply fixed;
            @apply top-0;
            @apply right-0;
            @apply h-full;
            @apply py-0;
            @apply pt-16;
            width: 35%;
            border-left: 1px solid theme('colors.aside.border');
        }
    }
}


.hb-article__source {
    @apply flex;
    @apply flex-row;
    @apply font-bold;
    @apply text-xs;
    @apply items-center;
    img {
        @apply mr-2;
        @apply rounded-full;
    }
}

.hb-article__content {
    @apply my-10;

    .hb-article__section {
        p {
            @apply mb-4;
        }
    }

}
