<div class="hb-article grid grid-cols-1 lg:grid-cols-12">
    <aside class="hb-article__aside md:col-span-5 order-2">
        <?- include('../../components/key/key.component.ejs'); ?>
    </aside>
    <article class="hb-article__content md:col-span-7 px-8 md:px-12">
        <header class="hb-article__header">
            <div class="flex flex-row justify-between mb-10">
                <div>
                    <a class="hb-article__source head" href="<?= doc.source.url ?>" target="_blank">
                        <img role="presentation" width="27" height="27" src="<?- doc.source.icon ?>"/>
                        <?= doc.source.name ?>
                    </a>
                </div>
                <div>
                    <span class="text-xs"><?= doc.date ?></span>
                </div>
            </div>
            <h1 class="head-2"><?= doc.title ?></h1>
            <span class="attribution"><?= doc.author ?></span>
        </header>
        <section class="hb-article__section">
            <?- doc.body.display ?>
        </section>
    </article>
</div>