
.hb-header {
    @apply w-full;
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-center;
    @apply fixed;
    @apply top-0;
    background-color: theme('colors.header.bg');
    height: 64px;
    z-index: 1;

    .hb-header__logo {
        height: 55px;
    }
}