<div class="panel" style="width: 100%; max-width: 335px;">
    <div class="panel__head">
        <h2 class="uppercase text-2xl mb-2">Highlights</h2>
        <p class="text-xs">There are several different items we look for to detect bias. Learn about them below.</p>
    </div>
    <div class="panel__content">
        <dl class="hb-key">
            <dt>
                <span class="hb-key__icon bg-highlights-hedged-100">
                    <img src="/assets/icons/hedged.svg" alt='Hedged' width="16" height="13" style="padding-bottom: 3px;"/>
                </span> Hedged
            </dt>
            <dd>
                We have detected a deliberate lack of precision.
            </dd>
            <dt>
                <span class="hb-key__icon bg-highlights-implicative-100">
                    <img src="/assets/icons/implicative.svg" alt='Implicative' width="16" height="16"/>
                </span> Implicative
            </dt>
            <dd>
                Watch out for statements which make presuppositions about the truth of a statement.
            </dd>
            <dt>
                <span class="hb-key__icon bg-highlights-factive-100">
                    <img src="/assets/icons/factive.svg" alt='Factive' width="16" height="16"/>
                </span> Factive
            </dt>
            <dd>
                This statement appears to be making claims about the truth of something.
            </dd>
            <dt>
                <span class="hb-key__icon bg-highlights-assertive-100">
                    <img src="/assets/icons/missing.svg" alt='Assertive' width="16" height="16"/>
                </span> Assertive
            </dt>
            <dd>
                This statement appears to be making assertions which may or may not be true.
            </dd>
            <dt>
                <span class="hb-key__icon bg-highlights-subjective-100">
                    <img src="/assets/icons/missing.svg" alt='Subjective' width="16" height="16"/>
                </span> Subjective
            </dt>
            <dd>
                This is a subjective statement.
            </dd>
            <dt>
                <span class="hb-key__icon bg-highlights-trigger-100">
                    <img src="/assets/icons/missing.svg" alt='Trigger' width="16" height="16"/>
                </span> Trigger
            </dt>
            <dd>
                This author may be attempting to make an emotional argument.
            </dd>
        </dl>
    </div>
</div>